@import "tailwindcss";

.pageContainer {
    @apply w-full flex flex-col items-stretch;
    @apply bg-[url(/src/assets/images/home_page/background.png)] bg-cover bg-center bg-no-repeat;

    .header {
        @apply flex flex-row items-center justify-between pt-6.5 px-66;

        .gameIcon {
            @apply w-28.5 h-14.5;
            @apply bg-[url(/src/assets/images/home_page/game_icon.png)] bg-cover bg-center bg-no-repeat;
        }

        .playButton {
            @apply w-50 h-14 text-white text-xl;
            @apply bg-[url(/src/assets/images/home_page/play_button_background.png)] bg-cover bg-center bg-no-repeat;
            font-family: Duvall, serif;
            text-shadow: -2px -2px 0 #4C3110,
            2px -2px 0 #4C3110,
            -2px 2px 0 #4C3110,
            2px 2px 0 #4C3110,
            0 -2px 0 #4C3110,
            0 2px 0 #4C3110,
            -2px 0 0 #4C3110,
            2px 0 0 #4C3110;
        }
    }

    .heroesPartContainer {
        @apply flex flex-col items-center justify-start absolute top-58 w-full z-0;

        .heroesContainer {
            @apply flex flex-row items-start z-0;
        }

        .heroesCover {
            @apply w-full h-509.25 z-10 -mt-122;
            @apply bg-[url(/src/assets/images/home_page/heros_cover.png)] bg-top-left bg-no-repeat;
            background-size: 100% auto;
        }
    }

    .sectionContainer {
        @apply pt-6.5 pb-58.5;

        .title {
            @apply text-6xl leading-20 text-[#FF9154] font-[Duvall] max-w-187.5 text-center mb-95;
            background: linear-gradient(to right, #FF9154, #FFFABD);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .description {
            @apply text-2xl  text-[#D6B065] max-w-182 text-center;
            text-shadow: -2px -2px 0 #421512,
            2px -2px 0 #421512,
            -2px 2px 0 #421512,
            2px 2px 0 #421512,
            0 -2px 0 #421512,
            0 2px 0 #421512,
            -2px 0 0 #421512,
            2px 0 0 #421512;
        }
    }

    .footer {
        @apply h-22 bg-[#0B070B] flex items-center justify-center text-[#5C2D28] text-xl z-10;
    }
}

.hero1 {
    @apply w-73 h-120 -mr-24 z-0 translate-y-35;
    @apply bg-[url(/src/assets/images/home_page/hero_1.png)] bg-cover bg-center bg-no-repeat;
}

.hero2 {
    @apply w-110 h-165 -mr-45.5 z-10 translate-y-15;
    @apply bg-[url(/src/assets/images/home_page/hero_2.png)] bg-cover bg-center bg-no-repeat;
}

.hero3 {
    @apply w-130 h-195.5 -mr-29.5 z-20;
    @apply bg-[url(/src/assets/images/home_page/hero_3.png)] bg-cover bg-center bg-no-repeat;
}

.hero4 {
    @apply w-86.5 h-125.5 -mr-15 z-10 translate-y-23;
    @apply bg-[url(/src/assets/images/home_page/hero_4.png)] bg-cover bg-center bg-no-repeat;
}

.hero5 {
    @apply w-86 h-129 z-0 translate-y-26;
    @apply bg-[url(/src/assets/images/home_page/hero_5.png)] bg-cover bg-center bg-no-repeat;
}
