@import "tailwindcss";

@font-face {
    font-family: 'Duvall';
    src: url('./assets/fonts/Duvall.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@layer components {
    .button {
        @apply hover:scale-105 active:scale-95 transition-transform;
    }

    .no-scrollbar {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */

        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
        }
    }
}

html,
body {
    @apply m-0 p-0;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */

    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}


#root {
    overflow: hidden;
}

main {
    @apply w-screen h-screen text-[#E6CCAF];
}

section {
    @apply flex flex-col items-center z-10;
}
