@import "tailwindcss";

@font-face {
    font-family: 'Duvall';
    src: url('./assets/fonts/Duvall.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@layer components {
    .button {
        @apply hover:scale-105 active:scale-95 transition-transform;
    }

    .no-scrollbar {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */

        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
        }
    }
}

html,
body {
    margin: 0;
    padding: 0;
}

main {
    @apply w-screen h-screen;
}

section {
    @apply flex flex-col items-center z-10;
}
