@import "tailwindcss";

@font-face {
    font-family: 'Duvall';
    src: url('./assets/fonts/Duvall.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@layer components {
    .button {
        @apply hover:scale-105 active:scale-95 transition-transform cursor-pointer;
    }

    .no-scrollbar {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */

        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
        }
    }
}

html {
    @apply text-[16px] sm:text-[20px] md:text-[24px] lg:text-[28px] xl:text-[16px];
}

html,
body {
    @apply m-0 p-0;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */

    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}


#root {
    overflow: hidden;
}

main {
    @apply w-screen text-[#E6CCAF];
    @apply xl:h-screen
}

section {
    @apply flex flex-col items-center z-10;
}
