@import "tailwindcss";

.pageContainer {
    @apply w-full flex flex-col items-stretch bg-[#160D16];
    @apply bg-[url(/src/assets/images/home_page/background_top.png)] bg-size-[100%_auto] bg-top-left bg-no-repeat;

    .header {
        @apply flex flex-row items-center justify-between px-9;
        padding-top: calc(env(safe-area-inset-top, 0rem) + 1rem);
        @apply xl:px-66 xl:pt-6.5;

        .gameIcon {
            @apply w-15.5 h-8 cursor-pointer;
            @apply bg-[url(/src/assets/images/home_page/game_icon.png)] bg-cover bg-center bg-no-repeat;
            @apply xl:w-28.5 xl:h-14.5;
        }

        .playButton {
            @apply w-26 h-7.5 text-white text-xs cursor-pointer;
            @apply bg-[url(/src/assets/images/home_page/play_button_background.png)] bg-cover bg-center bg-no-repeat;
            @apply xl:w-50 xl:h-14 xl:text-xl;
            font-family: Duvall, serif;
            text-shadow: -2px -2px 0 #4C3110,
            2px -2px 0 #4C3110,
            -2px 2px 0 #4C3110,
            2px 2px 0 #4C3110,
            0 -2px 0 #4C3110,
            0 2px 0 #4C3110,
            -2px 0 0 #4C3110,
            2px 0 0 #4C3110;
        }
    }

    .heroesPartContainer {
        @apply flex flex-col items-center justify-start absolute top-32 w-full z-0;
        @apply xl:top-65;

        .heroesContainer {
            @apply flex flex-row items-start z-0;
        }

        .heroesContainerMobile {
            @apply w-90 h-47.5;
            @apply bg-[url(/src/assets/images/home_page/heroes_background_mobile.png)] bg-contain bg-top-left bg-no-repeat;
        }

        .heroesCover {
            @apply w-full h-110.5 z-10 -mt-24;
            @apply xl:-mt-87 xl:h-509.25;
            @apply bg-[url(/src/assets/images/home_page/heros_cover.png)] bg-size-[100%_100%] bg-top-left bg-no-repeat;
            @apply xl:bg-size-[100%_auto];
        }
    }

    .footer {
        @apply h-22 bg-[#0B070B] flex items-center justify-center text-[#5C2D28] text-xl z-10;
    }
}

.hero1 {
    @apply w-73 h-110 -mr-29 z-0 translate-y-32.5;
    @apply bg-[url(/src/assets/images/home_page/hero_1.png)] bg-cover bg-center bg-no-repeat;
}

.hero2 {
    @apply w-89 h-133 -mr-30 z-10 translate-y-25;
    @apply bg-[url(/src/assets/images/home_page/hero_2.png)] bg-cover bg-center bg-no-repeat;
}

.hero3 {
    @apply w-102.5 h-153.5 -mr-25.5 z-20;
    @apply bg-[url(/src/assets/images/home_page/hero_3.png)] bg-cover bg-center bg-no-repeat;
}

.hero4 {
    @apply w-82 h-123 -mr-30 z-0 translate-y-23;
    @apply bg-[url(/src/assets/images/home_page/hero_4.png)] bg-cover bg-center bg-no-repeat;
}

.hero5 {
    @apply w-88 h-132 z-10 translate-y-26;
    @apply bg-[url(/src/assets/images/home_page/hero_5.png)] bg-cover bg-center bg-no-repeat;
}
