@import "tailwindcss";

.sectionContainer {
    @apply pt-5 pb-14;
    @apply xl:pt-6.5 xl:pb-58.5;

    .title {
        @apply text-2xl leading-8 text-[#FF9154] font-[Duvall] max-w-71.5 text-center mb-44.5;
        @apply xl:text-6xl xl:leading-20 xl:max-w-187.5 xl:mb-95;
        background: linear-gradient(to right, #FF9154, #FFFABD);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .description {
        @apply text-sm text-[#D6B065] max-w-72 text-center;
        @apply xl:text-2xl xl:max-w-182 xl:mb-37;
        text-shadow: -2px -2px 0 #421512,
        2px -2px 0 #421512,
        -2px 2px 0 #421512,
        2px 2px 0 #421512,
        0 -2px 0 #421512,
        0 2px 0 #421512,
        -2px 0 0 #421512,
        2px 0 0 #421512;
    }

    .scrollHint {
        @apply flex items-center text-lg text-[#D6B065] font-semibold;

        .mouseContainer {
            @apply w-5 h-7 mr-2.5 rounded-[6.25rem] border-2 border-[#D6B065] flex flex-col items-center justify-start pt-1;
        }

        .mouseScroller {
            @apply w-0.5 h-2 rounded-4xl bg-[#D6B065];
        }
    }
}
